replicaCount: 1

image:
  repository: "nginxinc/nginx-unprivileged"
  tag: "1.27-alpine"
  pullPolicy: IfNotPresent

# For private registries (ex: DOCR)
imagePullSecrets: []
# - name: docr-creds

nameOverride: ""
fullnameOverride: ""

# Container listens here (unprivileged nginx usually uses 8080)
containerPort: 8080

service:
  type: ClusterIP
  port: 80

podAnnotations: {}

resources: {}

podSecurityContext:
  runAsNonRoot: true
  runAsUser: 101
  runAsGroup: 101
  fsGroup: 101
  seccompProfile:
    type: RuntimeDefault

containerSecurityContext:
  allowPrivilegeEscalation: false
  readOnlyRootFilesystem: true
  capabilities:
    drop:
      - ALL

ingress:
  enabled: true
  className: nginx
  annotations: {}
  hosts:
    - demo.guajiro.xyz
  tls: []

