replicaCount: 1

image:
  repository: "nginx"
  tag: "1.27-alpine"
  pullPolicy: IfNotPresent

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

service:
  type: ClusterIP
  port: 80

podAnnotations: {}

resources: {}

securityContext:
  runAsNonRoot: true
  allowPrivilegeEscalation: false
  readOnlyRootFilesystem: false

containerSecurityContext:
  capabilities:
    drop:
      - ALL

ingress:
  enabled: true
  className: nginx
  annotations: {}
  hosts:
    - demo.guajiro.xyz
  tls: []
